
.text {
  font-family: 'Libre Franklin', sans-serif;
}
.shade4 {
  color: #333333;
}
.shade3 {
  color: #bbbbbb;
}
.shade2 {
  color: #cccccc;
}
.shade1 {
  color: #eeeeee;
}
.shade_b {
  color: #dddddd;
}
.background {
  background: #dddddd;
  margin-bottom: -8px;
}
header {
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  width: 90%vmax;
  margin-left: 5vmin;
  border-bottom: 2px solid #cccccc;
  background: #dddddd;
  margin-top: -8px;
  z-index: 2;
}
.logo {
  display: flex;
  width: 9%;
  height: auto;
  background-color: #cccccc;
  border-top: 5px solid #cccccc;
  border-right: 14px solid #cccccc;
  border-left: 12px solid #cccccc;
	border-bottom: 5px solid #cccccc;
}
.intro_side {
  background-color: darkgoldenrod;
  position: fixed;
  margin-top: -11.5vmin;
  margin-left: 5vmin;
  background-color: lightcoral;
}
.this_is_me {
  /*width: max-content;
  margin-top: 3%;*/
  font-size: 3.2vmin;
  line-height: 135%;
  background-color: lightblue;
}
.introduction {
  /*width: max-content;
  margin-top: 3%;*/
  font-size: 3.2vmin;
  line-height: 135%;
  background-color: lawngreen;
}
/*@media screen and (min-width: 900px) {
  .introduction {
    font-size: 15px;
  }
  .this_is_me {
    font-size: 15px;
  }
}*/
.half {
  display:flex;
  align-items:center;
  background-color: cyan;
}
.project_side {
  margin-left: 52vmin;
  display: flex;
  flex-grow: 1;
  margin-top: 5vmin;
  background-color: crimson;
  height: 100vh;
  
}
.table {
  display: flex;
  flex: 1;
  background-color: blue;
  margin: 0.5% 0.5% 0.5% 0.5%;
  flex-wrap: wrap;
}
.right {
  flex-grow: 1;
  background-color: chartreuse;
  
}
.object {
  min-width: 40vmin;
  margin: 0.1vmin 0.1vmin 0.1vmin 0.1vmin;
  flex: 1 1 40%;
  color: white;
  background-color: darkgreen;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.t {
  font-size: 7vmax;
}
.foot {
  background-color: #dddddd;
  position: sticky;
  display: flex;
  align-items:center;
  justify-content:center;
  bottom: 0;
  z-index: 2;
  height: 50px;
}


